extends layout

block content
  h1 洪德路2020届学生家长自主成绩分析平台（测试）
  section.css-table
    section.two-column
      section.cell
        h2 谁会看
        p 本站内容仅供说明、探讨之用。
      section.cell
        h2 谁不需要看
        p 如果你不知道这是怎么回事，你就不需要看。  
        h3 免责
        p 本站仅提供有关文字形式的说明，不构成任何人之间的权利义务关系。
