extends layout
 
block content
  h1 Sed non accumsan tortor. In hac habitasse platea dictumst. Sed dolor lectus, posuere eu pulvinar sed, vehicula et magna.
  section.css-table
    section.two-column
      section.cell
        h2 若有任何建议，联系我
        p email a(href="mailto: davidyangjc@gmail.com") Subject
        p wechat
      section.cell
        h2 若有任何问题，联系我
        p weibo
        p facebook
         li
    a(href="#book-a") Book A

