extends layout
 
block content
  h1 洪德路2020届学生家长自主成绩分析平台（测试）
  section.css-table
    section.two-column
      section.cell
        h2 若有任何建议，可以给我:
        
        a(href="mailto: davidyang@riseup.net?subject='我有个建议'") <font size=18>写一封邮件</font>

      section.cell
        h2 加我微信也可以
        img(src="/wechat.jpg")
