extends layout
 
block content
  h1 洪德路2020届学生家长自主成绩分析平台（测试）
  section.css-table
    section.two-column
      section.cell
        h2 若有任何建议，联系我
        ul#contactdy
 
         li    
         a(href="mailto: davidyangjc@gmail.com") 写封邮件给我吧
         li    
         a(href="https://www.facebook.com/DavidYangJC") 脸书也行
         li    
         或者QQ： 652153929
      section.cell
        h2 干脆加我微信也可以1/path
        img(src="/wechat.jpg")
        h2 干脆加我微信也可以-all path
        img(src="/views/wechat.jpg")
        h2 干脆加我微信也可以-onlyname
        img(src="wechat.jpg")
