extends layout

block content
  h1  洪德路2020届学生家长自主成绩分析平台（测试）
  section.css-table
    section.two-column
      section.cell
        h2 背景
        p 时代进步，个体的力量只有结合成群体的力量，才能发挥个体无法达到的境界。大数据技术的发展，使得群体合作成为可能。
        p 目前，高考新政已经实施。每位同学的学习成绩，事关未来高考及前途。成绩走向，牵动每位家长的心思。如何提高成绩，更是每位家长的关切。我们试图从学生的每次练习、测验、学期考试成绩出发，关联平时课程，作业及生活等各因素，群策群力，通过数据积累和分析，在个体的水平上，提供确切的信息和洞见，并以此回馈到每位同学的日常学习，形成闭环，通过持续的输入、反馈、监测、提高，反思等各阶段，构造出一条高效率的通道，成就每一个孩子的愿望。愿金榜题名时，仍是翩翩少年。
      section.cell
        h2 实现
        p 运用高效可分布式的非关系型数据库进行数据存储
        p 运用云技术，实现交互式数据输入呈现等功能，通过集体分工，形成一种蜂巢机制，将分散的、碎片化的、时点的、特定的数据进行归纳整合，形成系统的、条理的、扩充的富数据；运用专业数据分析工具，深入挖掘、各变量因素的互相作用，以丰富的图表形式，易于理解的画面呈现给每个成员。
        p
  section.css-table
    section.three-column
      section.cell
        h3 输入
        p 以手工输入为起点，结合照相、扫描识别技术，将所需原始数据进行输入、存储并验证。
      section.cell
        h3 分析
        p 确定分析要素，建立关联、通过统计分析、发现规律，推导因果，找出关键因子，并由此建立改善方案。
      section.cell
        h3 展现        
        p 充分运用图形可视化特性，通过点、线、面在不同维度的展现，直观、方便地呈现给每个家长。结论不现而现。


