doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") 主页
          li 
            a(href="/about") 说明
          li 
            a(href="/contact") 联系
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p 美贤少年
            section.cell
              p 云谷初入
            section.cell
              p 以定洪德
            section.cell
              p 成其嘉志
