extends layout
 
block content
  h1 洪德路2020届学生家长自主成绩分析平台（测试）
  section.css-table
    section.two-column
      section.cell
        h2 加入平台及微信群规定:        
        p 我们这个群的目的，就是建立学生个体的成绩分析模式，通过每个家长的自愿加入，将每次的测验、试卷的题目数据化，每道题考察的知识点数据化，每个参加考试的学生的得失分，失分原因数据化。在这个基础上，对学生成绩进行持续的分析。找出短板，为家长提供确定的依据，以便进行针对性的改进，提高效率。以合理的时间最大化努力成果。
        p 因为学校虽然有具体数据，但目前无法提供。所以需要自愿的家长群体合作，将纸质的内容重新整理，转换，统一成为可以进行批量处理的数据。在此基础上，通过知识点-题目-分数-原因等因素的关联，进行分析，分析重点在于个体。对于每一个个体学生，都作同样维度的分析。对于自愿参加的群体，也会做适当分析，也是为了服务个体，找出共性的问题。
        p 家长自愿参加，形成集合数据，集合数据仅在自愿群范围内使用，不得超出范围和目的使用。家长如认同、愿意遵守以上内容，遵守国家法律法规，并有一定时间参加志愿活动，如信息整理、意见建议等工作，并维护志愿群体健康发展，可加入本群。
        p 加入本群遵循自愿原则。但如家长不认可、不愿意遵守上述内容，可不加入。已入群者须退群，否则视为认可同意以上规则并遵守之。
        
      section.cell
        h2 寄送邮箱
        p hongde2020@riseup.net
        h2 20170914集合与命题单元测试
        p 已经结束。
        h2 20171011: 今晚八点千聊举办直播活动，讲解如何看待分析结果。直播已结束。
        p 回看地址：https://m.qlchat.com/topic/2000000072685735.htm?shareKey=4485b30a40f4a85b08b4b0786eec62cb
        p 回看密码：可向邮箱发送索取，注明学生学校班级等，仅对志愿者家长开放。
        h2 20171013 志愿众筹公告：
        p 目前，为了提供输入效率，综合大家建议，决定采用OCR识别和网调输入的方式进行试卷及错题输入。因此发起众筹，以家庭为单位，每户20元，自愿参加。自愿参加的家长可以通过发红包形式给我，汇集后除上述交费外，余款进入资金池，以备将来之用。
        h2 20171013 10月份月考分析准备开始
        p 具体步骤为：1、志愿者可在群内报名参加扫描，校对等工作。2、之后通过网调输入成绩。3、进行分析成绩，给出结果。 4、发送结果到参与的家长。5、进行线上讲解。
        p 具体动态将随时更新，请大家关注群公告及讨论。
