extends layout
 
block content
  h1 洪德路2020届学生家长自主成绩分析平台（测试）
  section.css-table
    section.two-column
      section.cell
        h2 加入平台及微信群规定:        
        p 我们这个群的目的，就是建立学生个体的成绩分析模式，通过每个家长的自愿加入，将每次的测验、试卷的题目数据化，每道题考察的知识点数据化，每个参加考试的学生的得失分，失分原因数据化。在这个基础上，对学生成绩进行持续的分析。找出短板，为家长提供确定的依据，以便进行针对性的改进，提高效率。以合理的时间最大化努力成果。
        p 因为学校虽然有具体数据，但目前无法提供。所以需要自愿的家长群体合作，将纸质的内容重新整理，转换，统一成为可以进行批量处理的数据。在此基础上，通过知识点-题目-分数-原因等因素的关联，进行分析，分析重点在于个体。对于每一个个体学生，都作同样维度的分析。对于自愿参加的群体，也会做适当分析，也是为了服务个体，找出共性的问题。
        p 家长自愿参加，形成集合数据，集合数据仅在自愿群范围内使用，不得超出范围和目的使用。家长如认同、愿意遵守以上内容，遵守国家法律法规，并有一定时间参加志愿活动，如信息整理、意见建议等工作，并维护志愿群体健康发展，可加入本群。
        p 加入本群遵循自愿原则。但如家长不认可、不愿意遵守上述内容，可不加入。已入群者须退群，否则视为认可同意以上规则并遵守之。
        
      section.cell
        h2 下载模板
        a(href="/score_template.xls",style="text-decoration:none;") <font size=8>点击另存数学与命题单元测试(2017-09-14-数学）</font>
        section.cell
        h2 寄送邮箱
        a(href="mailto: hongde2020@riseup.net",style="text-decoration:none;") <font size=8>hongde2020@riseup.net</font>
